*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 40px 40px 40px 0px;

}
h5{
    color: white;
}
button{
    margin-top: 40px;
}
.colores{
    margin-top: 15px;
}
section{
    margin: 40px;
}